@charset "UTF-8";
@font-face {
  font-family: 'Adelle Cyrillic';
  /* Имя шрифта */
  src: url(../fonts/AdelleCyrillicRegular.ttf);
  /* Путь к файлу со шрифтом */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a.underline {
  position: relative;
}

a.underline:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -2px;
  width: -webkit-calc(100% + 4px);
  width: calc(100% + 4px);
  height: 1px;
  background-color: #005BAA;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  overflow-x: hidden;
  background-color: #fff;
}

.header, .header-submenu, .sidebar, .sidebar-menu, .main, .footer {
  position: relative;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  z-index: 150;
  margin-bottom: 30px;
}

.main {
  z-index: 50;
  margin-right: 30px;
}

.sidebar {
  z-index: 100;
}

.footer {
  height: 100px;
  margin-top: 30px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0px;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0px 10px;
  }
}

.header {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
}

.header-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 15px 0px;
}

.header-menu__item {
  position: relative;
  margin-right: 20px;
  background-color: transparent;
  letter-spacing: 1px;
}

.header-menu__item > a {
  display: inline-block;
  padding: 12px 20px;
  position: relative;
  z-index: 10;
}

.header-menu__item:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 2px;
  background-color: #005BAA;
  -webkit-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.header-menu__item:hover {
  color: white;
}

.header-menu__item:hover:before {
  height: 100%;
}

.header-notifications {
  margin-left: auto;
}

.header-login {
  margin-left: 15px;
}

.main {
  width: 100%;
  padding: 20px;
}

.sidebar {
  padding: 6px 12px 12px 12px;
  font-family: Roboto, sans-serif;
}

.add_button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #005BAA;
  color: white;
  border: none;
  padding: 4px 12px;
  cursor: pointer;
}

input {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 2px solid #005BAA;
  padding: 6px 10px;
}

input:active {
  border: 2px solid #005BAA;
}

input[type=submit] {
  background-color: #005BAA;
  padding: 6px 16px;
  color: white;
  cursor: pointer;
}
