@charset "UTF-8";
@font-face {
  font-family: 'Adelle Cyrillic';
  /* Имя шрифта */
  src: url(../fonts/AdelleCyrillicRegular.ttf);
  /* Путь к файлу со шрифтом */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #003f75;
  overflow-x: hidden;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  grid: "header" "main" "footer" / auto;
  grid-gap: 30px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header, .header-submenu, .sidebar, .sidebar-menu, .main, .footer {
  position: relative;
}

.footer {
  height: 100px;
}

.header {
  z-index: 150;
}

.sidebar {
  z-index: 100;
}

.content {
  z-index: 50;
  margin-left: 30px;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  border: 1px solid #005BAA;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0px 10px;
  }
}

.header {
  border-bottom: 2px solid #005BAA;
  font-family: "Roboto";
  font-size: 1rem;
}

.header-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
}

.header-menu__item {
  margin-right: 20px;
  color: #fff;
  letter-spacing: 1px;
}

.header-menu__item > a {
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid #005BAA;
  background-color: #005BAA;
}

.header-menu__item > a:hover {
  background-color: transparent;
  color: #005BAA;
}

.header-notifications {
  margin-left: auto;
}

.header-login {
  margin-left: 15px;
}

.main-person {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row column;
      -ms-flex-flow: row column;
          flex-flow: row column;
  margin-bottom: 30px;
}

.main-person-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-right: 30px;
}

.main-person-info__photo {
  border: 1px solid #005BAA;
  max-width: 160px;
  margin-right: 15px;
}

.main-person-info__photo > img {
  width: 100%;
}

.main-person-info-content__name {
  margin-bottom: 10px;
  font-weight: 500;
}

.main-person-info-content > div {
  margin-bottom: 6px;
}

.main-person-info-content__group > a {
  text-decoration: underline;
}

.schedule {
  width: 400px;
  margin-left: auto;
}

.schedule-block {
  border: 1px solid #005BAA;
  margin-bottom: 10px;
  padding: 8px 16px;
}

.schedule-block__header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 10px;
  border-bottom: 1px solid #005BAA;
}

.schedule-block-item {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  grid: "schedule-item__name schedule-item__time" "schedule-item__teacher schedule-item__time" / auto 50px;
}

.schedule-block-item__name {
  grid-area: schedule-item__name;
}

.schedule-block-item__teacher {
  grid-area: schedule-item__teacher;
}

.schedule-block-item__time {
  position: relative;
  grid-area: schedule-item__time;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedule-block-item__time > span:nth-child(1) {
  margin-bottom: 6px;
}

.schedule-block-item__time::before {
  content: '';
  position: absolute;
  top: -webkit-calc(50% - 1px);
  top: calc(50% - 1px);
  width: 80%;
  height: 1px;
  background-color: #005BAA;
}

.tasks {
  border: 1px solid #005BAA;
  padding: 10px 16px;
}
