@import "variables.scss";


.person {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 30px;

  &__photo {
    max-width: 160px;
    margin-right: 15px;
    & > img {
      width: 100%;
    }
  }

  &-content {
    &__name {
      margin-bottom: 10px;
    }
    & > div {
      margin-bottom: 6px;
    }
  }
}


.tasks {
  margin-top: 15px;
  &__header {
    //font-size: 1.5rem;
    //background-color: $first-color;
    & > span {
      display: inline-block;
      position: relative;
      padding: 10px 15px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 6px;
        z-index: 0;
        width: 100%;
        height: 2px;
        background-color: $first-color;
      }
    }
  }
  &-list {

    &__item {
      margin-top: 8px;
      & > a > .abbreviation {
        padding-right: 6px;
        border-right: 2px solid $first-color;
      }
    }
  }
}