
$text-color: #34618D;
$first-color: #005BAA;
$first-color-lite: #6099CB;
$first-color-black: #003f75;

@font-face {
  font-family: 'Adelle Cyrillic'; /* Имя шрифта */
  src: url(../fonts/AdelleCyrillicRegular.ttf); /* Путь к файлу со шрифтом */
}