
$text-color: #003768;
$first-color: #005BAA;
$first-color-lite: #6099CB;

@font-face {
  font-family: 'Adelle Cyrillic'; /* Имя шрифта */
  src: url(../fonts/AdelleCyrillicRegular.ttf); /* Путь к файлу со шрифтом */
}